html(lang='en')
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  link(rel='stylesheet' href='/assets/vendor/css/bootstrap.min.css')
  link(rel='stylesheet' href='/assets/css/style.css')
  title Easy Chat
body
  div(class='container')
    div(class='row takeit')
      input(class='form-control col-12 col-md-6 offset-md-3' type='text' placeholder='Type a room' id='room' value='Main')
      input(class='form-control col-12 col-md-6 offset-md-3' type='text' placeholder='Type your name' id='name')
      button(class='btn btn-primary col-12 col-md-6 offset-md-3' id='btn') Ready
  script(src='/assets/js/index.js')